    {% extends "parent.html" %}
{%block main%}
{% if messages %}
{% for mes in messages %}
<div class="alert-warning alert-dismissible fade show" role="alert">
    <strong> {{mes}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
</div>
{% endfor %}
{% endif %}
<script>
function validate()
{

    var rollno=document.getElementById("rollno");
    var name=document.getElementById("name");
    var fname=document.getElementById("fname");
    var mname=document.getElementById("mname");
    var contactno=document.getElementById("contactno");
    var emailaddress=document.getElementById("emailaddress");
    var password=document.getElementById("password");
    var confirmpassword=document.getElementById("confirmpassword");
    var emailexp=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

    if(rollno.value=="" || rollno.value==null){
        alert("please enter roll number")
        rollno.focus();
    }else if(isNaN(rollno.value)){
        alert("please enter only numbers")
        rollno.focus();
    }else if(name.value=="" || name.value==null){
        alert("please enter your name")
        name.focus();

    }else if(fname.value=="" || fname.value==null){
        alert("please enter your Father name")
        fname.focus();

    }else if(mname.value==""|| mname.value==null){
        alert("please enter your mother name")
        mname.focus();

    }else if(contactno.value==""||contactno.value==null){
        alert("please enter your contact number")
        contactno.focus();
    }else if(isNaN(contactno.value)){
        alert("please enter only numbers")
        contactno.focus();
    }else if(contactno.value.length!=10){
     alert("please enter 10 digit number")
            contactno.focus();
    }else if(emailaddress.value=="" || emailaddress.value==null){
        alert("please enter email address");
        emailaddress.focus();
    }else if (!emailexp.test(emailaddress.value))
    {
        alert("please enter valid email address");
        emailaddress.focus();
    }else if(password.value=="" || password.value==null){
        alert("please enter Password")
        Password.focus();
    }else if(password.value.length<8){
        alert("please enter min 8 digit or char ")
        password.focus();
    }else if(confirmpassword.value=="" || confirmpassword.value==null){
        alert("please enter Confirm Password")
        confirmpassword.focus();
    }else if(confirmpassword.value!=password.value){
        alert("please enter same Password")
        confirmpassword.focus();
    }else
    {
        document.getElementById("frmregistration").submit();
    }


}


</script>
<h2 style="text-align:center;">Student Registration Form</h2>
<form class="form-group" id="frmregistration" onsubmit="event.preventDefault();validate();" method="post" action="{% url 'nouapp:registration' %}">
    {% csrf_token %}
    <table class="table" style="margin:auto; width:80%;" >
        <tr>
            <td>Enter Roll no</td>
            <td>
                <input type="number" name="rollno" class="form-control" id="rollno"/>
            </td>
        </tr>
        <tr>
            <td>Enter Name</td>
            <td>
                <input type="text" name="name" class="form-control" id="name"/>
            </td>
        </tr>
         <TR>
            <td>Enter Father Name</td>
            <td>
                <input type="text" name="fname" class="form-control " id="fname"/>
            </td>
        </tr>
        <TR>
            <td>Enter Mother Name</td>
            <td>
                <input type="text" name="mname" class="form-control"/ id="mname">
            </td>
        </tr>
        <tr>
            <td>Select gender</td>
            <td>
                <input type="radio" value="male" name="gender" class="form-chack-input" />male
                <input type="radio" value="Female" name="gender" class="form-chack-input"/>Female
            </td>

        </tr>
        <tr>
            <td>Enter Address</td>
            <td>
                <textarea name="address" class="form-control"> </textarea>
            </td>

        </tr>
        <tr>
            <td>Select Program</td>
            <td>
                <select name="program" class="form-control">
                    <option>--Select Program--</option>
                    {% for p in program %}
                    <option value="{{p.program}}">{{p.program}}</option> 
                  
                    {% endfor %}
                </select>
            </td>

        </tr>
        <tr>
            <td>Select Branch </td>
            <td>
                <select name="branch" class="form-control">
               
                    <option>--Select branch--</option>
                    {% for b in branch %}
                    <option value="{{b.branch}}">{{b.branch}}</option>
                 {% endfor %}
                </select>
            
            </td>
        </tr>
        <Tr>
            <td>Select Year </td>
            <td>
                <select name="year" class="form-control">
                    <option>--Select Year--</option>
                    {% for y in year %}
                    <option value="{{y.year}}">{{y.year}}</option>
                    {% endfor %}
                </select>
            
            </td>
        </Tr>
        <tr>
            <td>Enter Contact no</td>
            <td>
                <input type="number" name="contactno" class="form-control" id="contactno"/>
            </td>

        </tr>
        <tr>
            <td>Enter Email Id</td>
            <td>
                <input type="text" name="emailaddress" class="form-control" id="emailaddress"/>
            </td>

        </tr>
        <tr>
            <td>Enter Password</td>
            <td>
                <input type="Password" name="password" class="from-control" id="password"/>
            </td>

        </tr>
        <tr>
            <td>Confirm Password</td>
            <td>
                <input type="Password" name="confirmpassword" class="from-control" id="confirmpassword"/>
            </td>

        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <button type="submit" class="btn btn-success"> Register </button>
            </td>


        <tr>

    

    </table>
</from>

{%endblock main%}